// --------------------------------------
// Variable Template: LESS > Hero Options
// --------------------------------------

// -----------------------------
// #Site Options
// -----------------------------

// Site Layout
// -----------

// Full
.site-layout--full & {
	width: 100%;

	.site-content {
		padding: 0 @value__header--spacing;
	}
}

// Contained
.site-layout--contained & {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}




// -----------------------------
// #Header Options
// -----------------------------

@value__header--spacing: 20px;  // Header spacing


// Header Layout
// -------------

.template-header {

	// Left
	.header-layout--left & {
		.flex-container {
			.flexbox;
			.justify-content(center);

			@media @tablet {
	            display: block;
	        }
		}
		.flex-item:last-child {
			@media @tablet {
				right: @value__header--spacing;
			}
		}
		.logo-companyname {
			text-align: left;
		}
		.basket-toggle {
			margin-left: 10px;
			text-align: right;
		}
	}

	// Right
	.header-layout--right & {
		.flex-container {
			.flexbox;
			.flex-direction(row-reverse);
			.justify-content(center);

			@media @tablet {
	            display: block;
	        }
		}
		.flex-item:first-child {
			text-align: right;
		}
		.flex-item:last-child {
			@media @tablet {
				left: @value__header--spacing;
			}
		}
		.logo-companyname {
			text-align: right;
		}
		.basket-toggle {
			margin-right: 10px;
			text-align: left;
		}
	}

	// Center
	.header-layout--center & {
		padding-bottom: 0!important;

		// Logo & Company Name
		.logo-companyname {
			text-align: center;
		}
		.logo-companyname-item {
		    display: block;

		    &--logo {
		    	margin-right: 0;
		    }
		}

		// Layout
		.flex-container {
			display: block;
			text-align: center;
			padding-bottom: 0!important;

			@media @tablet {
	            display: block;
	        }
		}
		.flex-item:last-child {
			position: absolute;
			top: @value__header--spacing;
			right: @value__header--spacing;

			@media @tablet {
				top: -5px;
				right: @value__header--spacing;
			}
		}
		.navigation-list {
			padding: @value__header--spacing 0;
			text-align: center;

			@media @tablet {
				padding: 0;
				text-align: inherit;
			}
		}
		.company-link {
			display: block;
		}
	}


	// Header Position
	// ---------------

	// Standard
	.header-position--standard & {
		position: relative;
	}

	// Overlap
	.header-position--overlap & {
		position: absolute;
		z-index: 2;
		background-color: transparent!important;

		.company-link {
			color: @color__body--background;
		}

		.navigation-item .item-name {
			color: @color__body--background;
		}
		.item-name--parent:after {
			border-top-color: @color__body--background;
		}
		.navigation-item .item-name:hover,
		.navigation-item.selected .item-name {
			color: @color__body--background;
		}
		.navigation-item.folder:hover .item-name {
			color: @color__h1--text;
		}

		+ .widget .headline {
			margin-top: 110px;
		}

		.basket-toggle {
			color: @color__body--background;
		}

		@media @tablet {
			.navigation-toggle {
				color: @color__body--background;
			}
			.navigation-body {
				background-color: @color__header--background;
			}
			.navigation-list {
				position: relative;
				padding: 0 20px;
			}
			.navigation-item .item-name:hover,
			.navigation-item.selected .item-name {
				color: @color__navigation--text;
			}
			.navigation-item.folder .item-name:hover {
				color: @color__navigation--text;
			}
		}
	}

}




// -----------------------------
// #Feature Options
// -----------------------------


.content-inner-wrap {

	// Feature Height
	// --------------

	// Fullscreen
	.feature-height--fullscreen & {
		min-height: calc(~"100vh - 110px");
		// min-height: 100vh;
	}

	// Medium
	.feature-height--medium & {
		min-height: 600px;

		@media @tablet {
			min-height: 500px;
		}
		@media @mobile {
			min-height: 400px;
		}
	}

	// Small
	.feature-height--small & {
		min-height: 400px;

		@media @tablet {
			min-height: 300px;
		}
	}


	// Feature Alignment
	// -----------------

	// Top
	.feature-alignment--top--left & {
		.justify-content(flex-start);
		.align-items(flex-start);
		text-align: left;
	}
	.feature-alignment--top--center & {
		.justify-content(flex-start);
		.align-items(center);
		text-align: center;
	}
	.feature-alignment--top--right & {
		.justify-content(flex-start);
		.align-items(flex-end);
		text-align: right;
	}

	// Middle
	.feature-alignment--middle--left & {
		.justify-content(center);
		.align-items(flex-start);
		text-align: left;
	}
	.feature-alignment--middle--center & {
		.justify-content(center);
		.align-items(center);
		text-align: center;
	}
	.feature-alignment--middle--right & {
		.justify-content(center);
		.align-items(flex-end);
		text-align: right;
	}

	// Bottom
	.feature-alignment--bottom--left & {
		.justify-content(flex-end);
		.align-items(flex-start);
		text-align: left;
	}
	.feature-alignment--bottom--center & {
		.justify-content(flex-end);
		.align-items(center);
		text-align: center;
	}
	.feature-alignment--bottom--right & {
		.justify-content(flex-end);
		.align-items(flex-end);
		text-align: right;
	}


	// Feature Overlay Type
	// --------------------

	// Full
	.feature-overlay-type--full .feature__parallax-background-image:after & {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: hsla(hue(@color__feature-content--background), saturation(@color__feature-content--background), lightness(@color__feature-content--background), @value__feature-content--opacity);
	}

	// Typography
	.feature-overlay-type--typography & {
		background-color: transparent!important;

		.headline {
	        display: inline-block;
	        padding: 10px 20px;
	        background-color: hsla(hue(@color__feature-headline--background), saturation(@color__feature-headline--background), lightness(@color__feature-headline--background), @value__feature-content--opacity);
	    }
	    .strapline {
	        display: inline-block;
	        margin-bottom: 10px;
	        padding: 6px 20px;
	        background-color: hsla(hue(@color__feature-strapline--background), saturation(@color__feature-strapline--background), lightness(@color__feature-strapline--background), @value__feature-content--opacity);
	    }
	}


	// Feature Overlay Opacity
	// -----------------------

	@value__feature-content--opacity: 0.6;

	.feature-overlay-opacity--100 & {
		background-color: hsla(hue(@color__feature-content--background), saturation(@color__feature-content--background), lightness(@color__feature-content--background), 1);
	}
	.feature-overlay-opacity--75 & {
		background-color: hsla(hue(@color__feature-content--background), saturation(@color__feature-content--background), lightness(@color__feature-content--background), .75);
	}
	.feature-overlay-opacity--50 & {
		background-color: hsla(hue(@color__feature-content--background), saturation(@color__feature-content--background), lightness(@color__feature-content--background), .5);
	}
	.feature-overlay-opacity--25 & {
		background-color: hsla(hue(@color__feature-content--background), saturation(@color__feature-content--background), lightness(@color__feature-content--background), .25);
	}
	.feature-overlay-opacity--10 & {
		background-color: hsla(hue(@color__feature-content--background), saturation(@color__feature-content--background), lightness(@color__feature-content--background), .1);
	}
	.feature-overlay-opacity--0 & {
		background-color: hsla(hue(@color__feature-content--background), saturation(@color__feature-content--background), lightness(@color__feature-content--background), 0);
	}

}


// Feature Parallax
// ----------------

// On
.feature-parallax--on {

	// Template header

	.template-header {
		position: relative;
		-webkit-transform: translate3d(0px, 0px, 0px);
		-moz-transform: translate3d(0px, 0px, 0px);
		-o-transform: translate3d(0px, 0px, 0px);
		-ms-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
	}

	// Standard header + Standard position

	&.header-position--standard  {
		.template-header {
			background-color: #fff;

		}
	}

	// Feature

	.feature {
		z-index: 0;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translate3d(0px, 0px, 0px);
		-moz-transform: translate3d(0px, 0px, 0px);
		-o-transform: translate3d(0px, 0px, 0px);
		-ms-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
		width: 100%;
		&.stuck {
			position: fixed;
		}
	}

	.feature__parallax-background-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover;
		z-index: 1;
		-webkit-backface-visibility: hidden;
	}

	.feature__content-wrap {
		z-index: 2;
		position: relative;
	}
}

.feature-parallax--on + .main-content {
	background-color: #fff;
}







		//   Off - DEMO ONLY, REMOVE FOR PRODUCTION CSS
		.feature-parallax--off {
			.feature__parallax-background-image {
				display: none !important;
			}
			.feature {
				top: 0 !important;
			}
			.content-inner-wrap {
				opacity: 1 !important;
			}
		}
		// END Off
