// -----------------------------------------
// Feature Widget Options: LESS > Navigation
// -----------------------------------------

// Template Navigation
.template-navigation {
    @media @tablet {
        margin-top: 20px;
        border-top: 1px solid @color__navigation--border;
    }
}

// Navigation List
.navigation-list {
    margin: 0;

    @media @tablet {
        display: none;
    }

    &.open {
        display: block;
    }
}

// Navigation Item
.navigation-item {
    display: inline-block;
    vertical-align: middle;

    @media @tablet {
        display: block;
        padding: 5px 0;

        &:first-child {
            padding-top: 14px;
            border-top: 1px solid @color__navigation--border;
        }
        &:last-child {
            padding-bottom: 14px;
        }
    }

    &.selected .item-name {
        color: @color__navigation--text--selected;
    }
}

// Navigation Link
.navigation-item .item-name {
    padding: 0 20px;
    font-family: @font__navigation--font-family;
    font-size: @font__navigation--font-size;
    font-weight: @font__navigation--font-weight;
    line-height: @font__navigation--line-height;
    letter-spacing: @font__navigation--letter-spacing;
    color: @color__navigation--text;

    @media @tablet {
        padding-left: 0;
    }

    &:hover {
        color: @color__navigation--text--hover;
    }

    &.item-name--parent {
        padding-right: 0;
    }
}

// Dropdown Menu
.navigation-list--children {
    position: absolute;
    min-width: 150px;
    padding: 10px 0;
    background-color: @color__navigation-list--background;

    .navigation-item {
        display: block;
        width: 100%;
        padding: 0 10px;
        background-color: @color__body--background;

        @media @tablet {
            &:first-child {
                padding-top: 6px;
            }
            &:last-child {
                padding-bottom: 6px;
            }
        }

        .item-name {
            padding: 4px 10px;
        }
    }
}

// Folder arrow
.item-name--parent:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin-left: 4px;
    border: 5px solid transparent;
    border-top-color: @color__navigation--text;
}

// Toggle Button
.navigation-toggle {
    display: none;

    @media @tablet {
        display: block;
        width: 100%;
        padding: 6px 0;
        background-color: transparent;
        color: @color__h1--text;
        text-align: left;
        text-transform: uppercase;

        &:hover {
            background: transparent;
        }
    }

    &:after {
        content: "+";
        position: absolute;
        right: 0;
    }
}


// View Basket Button
// -------------------

.basket-toggle {
    position: relative;
    z-index: 99999;
}


// Basket Overlay
// ---------------

.basket-body {
    background-color: rgba(0,0,0, 0.65);
    padding: 4em;
    transition: all 0.5s ease-in-out;
    z-index: 9999;

    // Flexbox center
    .flexbox;
    .flex-direction(column);
    .align-items(center);
    .justify-content(center);

    // Basket page overlay
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // Hide overlay until clicked
    opacity: 0;
    visibility: hidden;

    @media @tablet {
        padding: 5em 3em 3em;
    } 
}

.basket-open .basket-body {
    .flexbox;
    opacity: 1;
    visibility: visible;
}

.basket-list {
    padding: 1.5em;
    overflow-x: scroll;
}

.basket-item {
    .flexbox;
    .flex-wrap(nowrap);

    margin-bottom: 0;
    padding: 0 2em 1.5em 0;
    position: relative;

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    @media @tablet {
        .flex-wrap(wrap);
    }
}

.basket-item-image {
    .flex(0 1 auto);
    margin-right: 1.5em;

    // Set background thumbnail image size
    .image-link {
        background-size: cover;
        display: block;
        margin-right: 1.5em;
        height: 125px;
        width: 125px;
    }

    // Hide inline thumbnail image
    .image--thumb {
        display: none;
    }
}

.basket-item-details {
    .flex(1 1 auto);
    .align-self(center);

    // Product name
    a.basket-item-name {
        display: block;
        margin: 1em 0 0.5em;

        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }

    p.basket-item-price {
        margin-bottom: 0;
    }

    // Product details
    > p {
        margin: 0.5em 0;
    }
}

.item-remove.button {
    padding: 6px 10px;
    position: absolute;
    top: 0;
    right: 0;

    // Hides remove item text
    .remove-text {
        display: none;
    }
}

.basket-footer {
    border-top: 1px solid rgba(0,0,0, 0.075);

    .flexbox;
    .flex-wrap(wrap);
    .justify-content(space-between);
    .align-items(center);

    padding: 1.5em;

    @media @mobile {
        display: block;
        padding: 1.25em;
        text-align: center;

        > * {
            display: block;
        }
    }

    h4.basket-total {
        padding: 0;

        @media @mobile {
            padding: 0 0 6px;
        }
    } 
}

.basket-list,
.basket-footer {
    background-color: white;
    margin: 0;
    height: auto;
    max-width: 800px;
    width: 100%;
  
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-name: open-animation;
    animation-name: open-animation;
}

@-webkit-keyframes open-animation {
    0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); }
    100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}

@keyframes open-animation {
    0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); transform: scale3d(1.1, 1.1, 1); }
    100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
