{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<div class="page  page--default">
	<div class="site-container">

		{% include "includes/header.twig" %}

		{{widget('feature', 'feature', {
		  'header': 'profile',
		  'strapline': 'profile',
		  'defaultBgImg': asset('images/feature-image1.jpg'),
		  'positionTopPercentage': '100',
		  'showBtn': true,
		  'buttonText': 'Button',
		  'action': 'external',
		  'url': 'http://docs.basekit.com',
		  'target': '_blank'
		})|raw}}

		<div class="main">
			<div class="site-content">
				<div class="zone-content">
					{# {{zone('main')|raw}} #}
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id pulvinar ex, venenatis finibus purus. Sed feugiat metus sit amet eros dignissim maximus. Sed vitae risus ante. Etiam vitae sagittis urna, vel dapibus turpis. Maecenas ultrices nibh purus, id posuere est efficitur id. Maecenas ac quam vehicula, dignissim diam vel, vulputate lectus. Cras imperdiet nibh sit amet lorem ultricies, sit amet hendrerit est pretium. Donec in mauris at magna ultrices posuere. Proin eu volutpat nulla. Aliquam pretium, arcu a commodo consequat, felis arcu porttitor neque, in laoreet tortor justo a nisi. Duis elementum imperdiet sem, eget malesuada risus porta quis. Nulla id magna a mauris eleifend ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent in posuere elit. Maecenas sit amet auctor nibh. Donec vitae velit lacus. Aliquam volutpat felis felis, in lobortis purus hendrerit at. In hac habitasse platea dictumst. Integer vitae augue elit. Integer vestibulum consequat tincidunt. Curabitur erat enim, mollis eu nisl eu, ullamcorper facilisis turpis. Quisque eu sem sit amet dui tempor interdum ac at lacus. Aliquam feugiat nisi tristique, hendrerit urna et, finibus erat.

					Fusce pharetra ultrices lorem sed vehicula. In hac habitasse platea dictumst. Nunc eget eros nibh. Nulla et tristique risus. Sed feugiat eros at vehicula dapibus. Aenean eu semper enim. Nunc in placerat ipsum. Maecenas et metus euismod, auctor libero sodales, semper arcu.

					Praesent et ligula eu sapien venenatis viverra et eu mauris. Curabitur nec metus sodales, ultrices sapien at, vehicula leo. Nunc orci elit, consectetur at egestas ac, facilisis non tellus. Sed tempus ut lectus ac iaculis. Sed et risus lacinia, finibus est eu, vehicula ipsum. Etiam non fermentum magna. Aenean sed congue nunc. Vestibulum nec mi ut lacus condimentum pulvinar eget a justo. Nulla consectetur malesuada purus, in sodales ante efficitur at. Morbi ut urna nunc. Duis laoreet ipsum id faucibus sollicitudin. Aliquam vitae neque quis risus venenatis feugiat vel vitae risus. Aenean mollis erat pellentesque varius suscipit. In sed pharetra lacus. Curabitur non metus convallis, efficitur magna sed, viverra tellus.

					Nulla maximus ut eros quis malesuada. Donec consequat mi sit amet luctus posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et risus leo. Nulla eget odio id dolor congue pretium vitae ut velit. Quisque scelerisque laoreet erat. Vivamus sit amet mauris ornare lectus consequat fringilla sed non mauris.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id pulvinar ex, venenatis finibus purus. Sed feugiat metus sit amet eros dignissim maximus. Sed vitae risus ante. Etiam vitae sagittis urna, vel dapibus turpis. Maecenas ultrices nibh purus, id posuere est efficitur id. Maecenas ac quam vehicula, dignissim diam vel, vulputate lectus. Cras imperdiet nibh sit amet lorem ultricies, sit amet hendrerit est pretium. Donec in mauris at magna ultrices posuere. Proin eu volutpat nulla. Aliquam pretium, arcu a commodo consequat, felis arcu porttitor neque, in laoreet tortor justo a nisi. Duis elementum imperdiet sem, eget malesuada risus porta quis. Nulla id magna a mauris eleifend ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent in posuere elit. Maecenas sit amet auctor nibh. Donec vitae velit lacus. Aliquam volutpat felis felis, in lobortis purus hendrerit at. In hac habitasse platea dictumst. Integer vitae augue elit. Integer vestibulum consequat tincidunt. Curabitur erat enim, mollis eu nisl eu, ullamcorper facilisis turpis. Quisque eu sem sit amet dui tempor interdum ac at lacus. Aliquam feugiat nisi tristique, hendrerit urna et, finibus erat.

					Fusce pharetra ultrices lorem sed vehicula. In hac habitasse platea dictumst. Nunc eget eros nibh. Nulla et tristique risus. Sed feugiat eros at vehicula dapibus. Aenean eu semper enim. Nunc in placerat ipsum. Maecenas et metus euismod, auctor libero sodales, semper arcu.

					Praesent et ligula eu sapien venenatis viverra et eu mauris. Curabitur nec metus sodales, ultrices sapien at, vehicula leo. Nunc orci elit, consectetur at egestas ac, facilisis non tellus. Sed tempus ut lectus ac iaculis. Sed et risus lacinia, finibus est eu, vehicula ipsum. Etiam non fermentum magna. Aenean sed congue nunc. Vestibulum nec mi ut lacus condimentum pulvinar eget a justo. Nulla consectetur malesuada purus, in sodales ante efficitur at. Morbi ut urna nunc. Duis laoreet ipsum id faucibus sollicitudin. Aliquam vitae neque quis risus venenatis feugiat vel vitae risus. Aenean mollis erat pellentesque varius suscipit. In sed pharetra lacus. Curabitur non metus convallis, efficitur magna sed, viverra tellus.

					Nulla maximus ut eros quis malesuada. Donec consequat mi sit amet luctus posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et risus leo. Nulla eget odio id dolor congue pretium vitae ut velit. Quisque scelerisque laoreet erat. Vivamus sit amet mauris ornare lectus consequat fringilla sed non mauris.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id pulvinar ex, venenatis finibus purus. Sed feugiat metus sit amet eros dignissim maximus. Sed vitae risus ante. Etiam vitae sagittis urna, vel dapibus turpis. Maecenas ultrices nibh purus, id posuere est efficitur id. Maecenas ac quam vehicula, dignissim diam vel, vulputate lectus. Cras imperdiet nibh sit amet lorem ultricies, sit amet hendrerit est pretium. Donec in mauris at magna ultrices posuere. Proin eu volutpat nulla. Aliquam pretium, arcu a commodo consequat, felis arcu porttitor neque, in laoreet tortor justo a nisi. Duis elementum imperdiet sem, eget malesuada risus porta quis. Nulla id magna a mauris eleifend ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent in posuere elit. Maecenas sit amet auctor nibh. Donec vitae velit lacus. Aliquam volutpat felis felis, in lobortis purus hendrerit at. In hac habitasse platea dictumst. Integer vitae augue elit. Integer vestibulum consequat tincidunt. Curabitur erat enim, mollis eu nisl eu, ullamcorper facilisis turpis. Quisque eu sem sit amet dui tempor interdum ac at lacus. Aliquam feugiat nisi tristique, hendrerit urna et, finibus erat.

					Fusce pharetra ultrices lorem sed vehicula. In hac habitasse platea dictumst. Nunc eget eros nibh. Nulla et tristique risus. Sed feugiat eros at vehicula dapibus. Aenean eu semper enim. Nunc in placerat ipsum. Maecenas et metus euismod, auctor libero sodales, semper arcu.

					Praesent et ligula eu sapien venenatis viverra et eu mauris. Curabitur nec metus sodales, ultrices sapien at, vehicula leo. Nunc orci elit, consectetur at egestas ac, facilisis non tellus. Sed tempus ut lectus ac iaculis. Sed et risus lacinia, finibus est eu, vehicula ipsum. Etiam non fermentum magna. Aenean sed congue nunc. Vestibulum nec mi ut lacus condimentum pulvinar eget a justo. Nulla consectetur malesuada purus, in sodales ante efficitur at. Morbi ut urna nunc. Duis laoreet ipsum id faucibus sollicitudin. Aliquam vitae neque quis risus venenatis feugiat vel vitae risus. Aenean mollis erat pellentesque varius suscipit. In sed pharetra lacus. Curabitur non metus convallis, efficitur magna sed, viverra tellus.

					Nulla maximus ut eros quis malesuada. Donec consequat mi sit amet luctus posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et risus leo. Nulla eget odio id dolor congue pretium vitae ut velit. Quisque scelerisque laoreet erat. Vivamus sit amet mauris ornare lectus consequat fringilla sed non mauris.</p>
				</div>
			</div>
		</div>

	</div>
</div>

{% include "includes/feature-options.twig" %}

{% endblock %}


{% block scripts %}

	<script src="{{asset('js/main.js')}}"></script>

{% endblock %}
