{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<div class="page  page--default">
	<div class="site-container">

		{% include "includes/header.twig" %}

		{{widget('feature', 'feature', {
		  'header': 'profile',
		  'strapline': 'profile',
		  'defaultBgImg': asset('images/feature-image1.jpg'),
		  'positionTopPercentage': '50',
		  'showBtn': true,
		  'buttonText': 'Button',
		  'action': 'external',
		  'url': 'http://docs.basekit.com',
		  'target': '_blank'
		})|raw}}

		<div class="main-content">
			<div class="site-content">
				<div class="zone-content">
					{{zone('main')|raw}}
				</div>
			</div>
		</div>

	</div>
</div>

{% include "includes/feature-options.twig" %}

{% endblock %}


{% block scripts %}

	<script src="{{asset('js/main.js')}}"></script>

{% endblock %}
