{% extends "layout.twig" %}

{% block content %}

<div class="page  page--default">
	<div class="site-container">

		{# {% include "includes/header.twig" %} #}

		<main>
			<div class="widget  widget--template-widget" data-widget-type="feature">
			    <div class="bk-feature  feature  widget__feature">
			        <div class="background-image  feature__background-image  feature-parallax--on" style="background-image: url('/index.php/template/feature-widget-options/images/feature-image1.jpg'); background-position: center 100%">
			            <div class="content-wrap  feature__content-wrap">
			                <div class="content-inner-wrap  feature__content-inner-wrap  feature-height--fullscreen  feature-alignment__middle--center  feature-transparency--type-overlay">
			                    <h2 class="headline  feature__headline">My Website Header</h2>
			                    <h3 class="strapline  feature__strapline">Here is the website strapline!</h3>
			                    <button class="button  button--primary  feature__button  js-feature-btn">Button</button>
			                </div>
			            </div>
			        </div>
			    </div>
			    <img src="/index.php/template/feature-widget-options/images/feature-image.jpg" style="display:none;" class="js-image" alt="feature image">
			</div>
			<section>
				<h1>CSS Parallax Header Image</h1>
				<p>This demo uses a <a href="http://keithclark.co.uk/articles/pure-css-parallax-websites/">method discovered by Keith Clark</a> to create parallax effects in CSS, without a ton of janky Javascript and bloated jQuery plugins. </p>
			</section>
		</main>

	</div>
</div>

{% endblock %}