// -------------------------
// WIDGETS: Buttons
// -------------------------

// ------------------
// #Table of Contents
// ------------------

// 1. #Standard Button
// 2. #Paypal Button
// 3. #Dropbox Button
// 4. #Tweet Button
// 5. #Click to Call Button


// ---------------------
// 1. #Main Button
// ---------------------

// Standard
@mixin button {
    display: inline-block;

    // Button Styles
    padding: 4px 12px;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    // Font Styles
    font-family: $font__button--font-family;
    font-weight: $font__button--font-weight;
    color: $color__button--text;
    line-height: $font__button--line-height;
    letter-spacing: $font__button--letter-spacing;
    font-size: $font__button--font-size;
    background-color: $color__button--background;

    &:hover {
        background-color: $color__button--background--hover;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &.italic {
        font-style: italic;
    }

    &.bold {
        font-weight: bold;
    }
}

.button {
    @include button;
}




// ---------------------
// 2. #PayPal Button
// ---------------------

.paypalbuynow form { background-color: transparent; }




// ---------------------
// 3. #Dropbox Button
// ---------------------

.dropbox-button__button,
.dropbox-button__label {
    display: inline-block; // Displays button & label inline
}


// ---------------------
// 4. #Tweet Button
// ---------------------





// ------------------------
// 5. #Click to Call Button
// ------------------------

.clicktocall__phone-number-link {
    @media #{$mobile},
    only screen and (max-width:700px) and (orientation:landscape) {
        // Applies button styles at mobile
        @include button;
        padding: 9px 12px;
        text-decoration: none;
    }
}


