// -----------------------
// WIDGETS: General Widget
// -----------------------

// Widget Positioning
.widget {
    position: relative;
}

// Zone Widget Spacing
.widget--zone-widget {
    @extend .clearfix;
    margin: 0 0 20px;
    clear: both;
}

// Removes margin for the spacing widget
.widget--zone-widget[data-name="space"] {
    margin-bottom: 0;
}


// Micro Clearfix
// --------------

// From CSS Wizardry' 'Inuit CSS' GitHub repository:
// https://github.com/csswizardry/inuit.css/blob/master/generic/_clearfix.scss
// Based on:
// Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php

.clearfix {
    &:after {
        content:"";
        display:table;
        clear:both;
    }
}
