// -------------------------
// CORE: Typography
// -------------------------

@font-face {
    font-family: 'FontAwesome';
    src: url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
        url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),
        url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
        url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Fontawesome
.icon:before,
.icon:after {
    font-family: 'FontAwesome', sans-serif;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon:before { margin-right: 5px; }
.icon:after  { margin-left:  5px; }


// Widget Icons
// ------------

// Twitter
.icon--twitter:before { content: "\f099"; }

// Facebook
.icon--facebook:before { content: "\f09a"; }

// Facebook
.icon--youtube:before { content: "\f167"; }

// Google+
.icon--googleplus:before { content: "\f0d5"; }

// RSS
.icon--rss:before { content: "\f09e"; }

// LinkedIn
.icon--linkedin:before { content: "\f0e1"; }

// Dropbox
.icon--dropbox:before { content: "\f16b"; }

// PayPal
.icon--paypal:before { content: "\f1ed"; }

// Phone (Click to Call)
.icon--phone:before { content: "\f095"; }


// Slideshow Icons
// ---------------

// Previous
.icon--previous:before { content: "\f053"; }

// Next
.icon--next:after    { content: "\f054"; }

// Pause
.icon--pause:before  { content: "\f04c"; }

// Play
.icon--play:before,
.icon--pause.pause:before   { content: "\f04b"; }


// Plugin Icons
// ------------

.icon--basket:before     { content: "\f07a"; }
.icon--add:before        { content: "\f067"; }


// Misc Icons
// ----------

// Close, Remove
.icon--remove:before,
.icon--close:before {
    content: "\f00d";
}

