// -------------------------
// CORE: Alignment Styles
// -------------------------

// Align Center
.align-center,
.widget-align-center,
.align--center,
.justify--center {
    text-align: right;
}

// Align Left
.align-left,
.widget-align-left,
.align--left,
.justify--left {
    text-align: left;
}

// Align Right
.align-right,
.widget-align-right,
.align--right,
.justify--right {
    text-align: right;
}

// Justify
.justify-full,
.justify--full {
    text-align: justify;
}



