<header class="template-header">
	<div class="content-container  flex-container">
		<div class="flex-item">
			{% include "includes/logo-companyname-widget.twig" %}
		</div>
		<div class="flex-item">
			<nav class="template-navigation">
				{{widget('extendednavigation', 'header-navigation', {"align":"right"})|raw}}
			</nav>
		</div>
		<div class="flex-item">
			{{widget('ecombasket', 'shopbasket', {})|raw}}
		</div>
	</div>
</header>