<header class="template-header">
	<div class="content-container">
		<div class="template-header-item">
			{% include "includes/logocompanyname-widget.twig" %}
		</div>
		<div class="template-header-item">
			<nav class="template-navigation">
				{{widget('extendednavigation', 'template-header-navigation', {"align":"right"})|raw}}
			</nav>
		</div>
		<div class="template-header-item">
			{% if plugins.ecommerce.store.live %}
			<div class="template-header--basket">
				{{widget('ecombasket', 'template-header-basket', {})|raw}}
			</div>
			{% endif %}
			<div class="template-header-page-title">
				{{widget('pagetitle', 'template-header-page-title', {})|raw}}
			</div>
			<button class="template-header-navigation-toggle">{{'widgets.extendednavigation.menu'|translate('Menu')}}</button>
		</div>
	</div>
</header>
