<div class="bk-logocompanyname  logocompanyname  widget__logocompanyname">
    <div class="logocompanyname-item  logocompanyname-item--logo  logocompanyname-item__logocompanyname-item">
        {{widget('logo', 'template-header-logo', {"defaultlogo": asset('images/logo.png')})|raw}}
    </div>
    <div class="logocompanyname-item  logocompanyname-item--companyname  logocompanyname-item__logocompanyname-item">
        {{widget('companyname', 'template-header-companyname', {"business": "profile", "showTplWidget":"0" })|raw}}
    </div>
</div>