<div class="bk-logo-companyname  logo-companyname  widget__logo-companyname">
    <div class="logo-companyname-item  logo-companyname-item--logo  logo-companyname-item__logo-companyname-item">
        {{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo.png')})|raw}}
    </div>
    <div class="logo-companyname-item  logo-companyname-item--companyname  logo-companyname-item__logo-companyname-item">
        {{widget('companyname', 'header-companyname', {"business": "profile", "showTplWidget":"0" })|raw}}
    </div>
</div>